.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.header .inner {
    display: flex;
    align-items: center;
    height: 100px;
}

.header .gnb {
    margin: 0 0 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 1px;
    /* 폰트 사이즈보다 작게 안보이게 만들어야함 */
    height: 12px;
    background: #ddd;
    /* 크기 맞추려다보니 조금 흐려짐 1px작아지는데 걍 0하자 */
    transform: translate(0, -50%);
}

.header .gnb>ul>li>a {
    display: block;
    font-size: 18px;
}

.header .search {
    margin: 0 0 0 50px;
}

/* 이름을주면 나중에 아이콘 바꾸고싶어질때 일이 번거로워진다. */
.header .search i {
    font-size: 30px;
}

.main_visual {
    position: relative;
}

.main_visual .main_slide figure {
    position: relative;
    height: 600px;
}

.main_visual .main_slide .itm01 {
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../images/mainvisual02.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../images/mainvisual03.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    padding: 0 15px;
}

.main_visual .main_slide .slogan strong {
    display: block;
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main_visual .main_slide .slogan p {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 인라인은 wh안먹어 이게 정석이래*/
.main_visual .main_slide .slogan a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 4px 20px 5px 20px;
}

.main_visual .main_slide .itm02 .slogan strong {
    color: #333;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}

.main_visual .main_slide .itm02 .slogan p {
    color: #333;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}

/* 드래그 못하게 만드는거 user-select */
.main_visual .dots {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 585px;
    transform: translate(-100%, -50%);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #ddd;
    color: #fff;
    user-select: none;
}

.main_visual .dots li {
    padding: 10px;
    cursor: pointer;
}

.main_visual .dots li~li {
    border-top: 1px solid #ddd;
}

.main_visual .arrows {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
}

.main_visual:hover .arrows {
    display: block;
}

.main_visual .arrows i {
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    cursor: pointer;
}

.main_visual .arrows .left {
    position: absolute;
    top: 0;
    left: 15px;
}

.main_visual .arrows .right {
    position: absolute;
    top: 0;
    right: 15px;
}

.main_content {
    padding: 100px 0;
}

.main_content .content {
    display: flex;
    gap: 30px;
}

.main_content .tit {
    /* inner마진을 덮었어 오토줘야함 */
    margin: 0 auto 30px auto;
}

.main_content .tit h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.main_content .tit p {
    font-size: 15px;
    font-weight: 300;
}

/* 이미지크기말고 박스크기로 배율 맞추라고 */
.main_content .content figure {
    flex: 1;
    text-align: center;
}

.main_content .content figure .box {
    margin: 0 0 30px 0;
}

.main_content .content figure strong {
    display: block;
    margin: 0 0 20px 0;
}

.main_content .content figure a {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px 12px;
}

.main_content .content figure .box {
    margin: 0 0 20px 0;
    /* border radius generator 둥글둥글 찌그러지게 */
    /* border-radius: 0% 100% 100% 0% / 0% 0% 100% 100%;*/
    /* clip path generator 이리저리 찌그러지게 */
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 55% 95%, 50% 100%, 45% 95%, 0 95%);
    overflow: hidden;
}


.main_content .content figure img {
    transition: 0.5s;
}

.main_content .content figure img:hover {
    transform: scale(1.1);
}

/* https://getbootstrap.com/ 쓸만한 색 볼수있어 */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
}

.footer .top {
    line-height: 80px;
    border-bottom: 1px solid #555;
}

.footer address {
    line-height: 80px;
}